<!DOCTYPE html>
	<head>
		<link href="/about.css" rel="stylesheet">
	</head>
	<body>
<%= erb :logo %>
<%= erb :header %>		
<%= erb :navigation %>
<div class="main">
<p> Hi this is me, the girl standing behind of the camera most of the times.</p>
<img src="BNKY-1957.jpg">
</div>
</body>
</html>