<!DOCTYPE html>
	<head>
		<link href="/contact.css" rel="stylesheet">
	</head>
	<body>
<%= erb :logo %>
<%= erb :header %>		
<%= erb :navigation %>
<div class="main">
<p><a href="mailto:hello@photografille.com" target="_blank">hello [at] photografille [dot] com</a></p>
</div>
</body>
</html>