<!DOCTYPE html>
	<head>
		<link href="/gallery.css" rel="stylesheet">
	</head>
	<body>
<%= erb :logo %>
<%= erb :header %>
<%= erb :navigation %>
<!-- HIDING MENU\</div>
		<div class="menuDispose">
			<div class="menuicon cont2img" id="menubutton">Menu</div>
</div>-->
<div class="gallery">
	<div class="inner">
		<a href="2.jpg"><img src="2.jpg" target="_blank"></a>	
<img src="3.jpg">
<img src="4.jpg">
<img src="BNKY-0050.jpg">
<img src="BNKY-0199.jpg">
<img src="BNKY-0270.jpg">
<img src="BNKY-0275.jpg">
<img src="BNKY-0355.jpg">
<img src="BNKY-0655-2.jpg">
<img src="BNKY-9899.jpg">
<img src="BNKY-0655.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-5867.jpg">
<img src="BNKY-6473.jpg">
<img src="BNKY-9698.jpg">
<img src="2.jpg">
<img src="3.jpg">
<img src="4.jpg">
<img src="BNKY-0655-2.jpg">
<img src="BNKY-9899.jpg">
<img src="BNKY-0655.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-5867.jpg">
<img src="BNKY-0050.jpg">
<img src="BNKY-0199.jpg">
<img src="BNKY-0270.jpg">
<img src="BNKY-0275.jpg">
<img src="BNKY-0355.jpg">
<img src="BNKY-0655-2.jpg">
<img src="BNKY-9899.jpg">
<img src="BNKY-0655.jpg">
<img src="3.jpg">
<img src="4.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-5867.jpg">
<img src="BNKY-6473.jpg">
<img src="BNKY-9698.jpg">
<img src="BNKY-0655-2.jpg">
<img src="BNKY-9899.jpg">
<img src="BNKY-0655.jpg">
<img src="BNKY-5867.jpg">
<img src="BNKY-6473.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-5867.jpg">
<img src="2.jpg">
<img src="3.jpg">
<img src="4.jpg">
<img src="BNKY-0655-2.jpg">
<img src="BNKY-9899.jpg">
<img src="BNKY-0655.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-0655.jpg">
<img src="BNKY-1009.jpg">
<img src="BNKY-5659.jpg">
<img src="BNKY-5867.jpg">
<img src="BNKY-6473.jpg">
<img src="BNKY-9698.jpg">
	</div>
</div>
	</body>
</html>

