<div class="navigation"> 
	<ul> 
		<li><a href="/about">About</a></li>
		<li id="gallery-link"><a href="/gallery" id="submenu">Gallery</a>
			<ul class="submenu-elements">
				<li><a href="travel.html">Travel</a></li>
				<li><a href="portrait.html">Portrait</a></li>
				<li><a href="engagement&family.html">Engagement & Family</a></li>
			</ul>
		</li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>